
//colors
$black: rgb(40, 44, 52);

//fonts

$fontFamily: Arial, sans-serif;
$fontTitle: 48px;
$boldFont: bold;
$subtitle: 20px;
$searchBtn: 9px;


//layout
$horizontalCenter: 0 auto;
$flexedItem: flex;
$searchBorder:1.5px solid black;



//header
.header{
  color: whitesmoke;
  font-size: $fontTitle;
}

//layout classes

.flexedAndAligned{
  display: flex;
  justify-content: center;
}

.flexedAlignedColumn{
  align-items: center;
  display: $flexedItem;
  flex-direction: column;
}
