
//colors
$black: rgb(40, 44, 52);

//fonts

$font-family: Arial, sans-serif;
$font-title: 48px;
$bold-font: bold;

//layout
$horizontalCenter: 0 auto;
$flexedItem: flex;

//header
.header{
  color: whitesmoke;
  font-size: $font-title;
}
